language: php

php:
  - 7.0
  - 7.1

sudo: false

# cache vendor dirs
cache:
  directories:
    - $HOME/.composer/cache

install:
  - travis_retry composer self-update && composer --version
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - travis_retry composer install --prefer-dist --no-interaction

before_script:
  - phpenv config-rm xdebug.ini || return 0

script:
  - phpunit --verbose
